<h1>Favorite Pets</h1>
<%= link_to  'Adopt Favorite Pets', '/adoptions/new' %>
<%= link_to "Remove All", "/favorites", method: :delete %>

<% if @favorites.total_count == 0 %>
  <p>You have no pets!</p>
<% else %>
  <% @favs.each do |pet| %>
    <h3><%= link_to pet.name, "pets/#{pet.id}" %></h3>
    <%= image_tag pet.image, size: 100 %><br>
    <%= link_to "Unfavorite Pet", "/favorites", method: :delete %>
  <% end %>
<% end %>

<section id='applied-to-pets'>
  <h2>Pets with applications:</h2>
</section>
